<body>
  <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <div class="card-image">
              <img src="assets/img/watchlist_logo.png">
              </div>
              <h4 class="card-title">Card title</h4>
              <h6 class="card-subtitle text-muted">Genre</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <div class="card-image">
                <img src="assets/img/chickennuggets.jpg">
              </div>
              <h4 class="card-title">Card title</h4>
              <h6 class="card-subtitle text-muted">Genre</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-block">
              <div class="card-image">
                  <img src="assets/img/chickennuggets.jpg">
              </div>
              <h4 class="card-title">Card title</h4>
              <h6 class="card-subtitle text-muted">Genre</h6>
            </div>
          </div>
        </div>
      </div><br>
      
      <div class="row2">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="card-image">
                <img src="assets/img/chickennuggets.jpg">
                </div>
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Genre</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="card-image">
                  <img src="assets/img/chickennuggets.jpg">
                </div>
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Genre</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="card-image">
                    <img src="assets/img/chickennuggets.jpg">
                </div>
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Genre</h6>
              </div>
            </div>
          </div>
        </div><br>
        
      <div class="row3">
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="card-image">
                <img src="assets/img/chickennuggets.jpg">
                </div>
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Genre</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="card-image">
                  <img src="assets/img/chickennuggets.jpg">
                </div>
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Genre</h6>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-block">
                <div class="card-image">
                    <img src="assets/img/chickennuggets.jpg">
                </div>
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle text-muted">Genre</h6>
              </div>
            </div>
          </div>
        </div><br>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>